body {
  text-align: center;
  white-space: pre-line;
  background-color: lightblue;
}

.app-container {
  width: 500px;
  margin: auto;
  float: right;
  padding-right: 400px;
}

.toolbar {
  background-color: #ccc;
  width: 100%;
}

.compiler-output{
  float: left;
  width: 500px;
  height: 400px;
  overflow: scroll;
}

.scroll{
  width: 500px;
  height: 400px;
}