body {
  text-align: center;
  white-space: pre-line;
}

.app-container {
  width: 500px;
  margin: auto;
  float: right;
  padding-right: 400px;
}

.toolbar {
  background-color: #ccc;
  width: 100%;
}

.compiler-output{
  float: left;
  width: 900px;
}